.share-pitch {
    display: inline;
    margin-top: 4px;
    margin-bottom: 6px;
    vertical-align: top;
    float: right;
}

.facebook, .twitter, .google_plus {
    width: 80px;
    height: 23px;
    display: inline-block;
}

.twitter {
    width: 70px;
}

.post-content img {
    box-shadow: 3px 3px 5px #888;
    border: 1px solid #DDD;
}

.post-content > ol, .post-content > ul {
    margin: 10px;
}

.google_plus {
    width: 60px;
}

.presskit-list {
    line-height: 14pt;
    padding-bottom: 10px;
}

.survey-call:hover {
    background: url('../images/icons/feedback-active.jpg');
}

.other-platforms {
    width: 87%;
    text-align: right;
    padding: 10px 15px;
}

.other-platforms a {
    margin-right: -15px;
}

.post-content .caption {
    width: 80%; 
    margin: 10px auto;
    text-align: center;
}

.post-content .caption iframe {
    margin: auto;
    box-shadow: 3px 3px 5px #888;
    border: 1px solid #DDD;
}

.post-content .no-shadow img {
    box-shadow: none;
    border: none;
}

.post-content .caption p {
    padding: 4px 10px;
    color:#b3b3b3;
}

.post-content .button {
    margin-top: 10px;
}

.post-content p a, .post-content li a, .about-author a, .post-content > a {
    border-bottom: 1px dotted #00aec8; /* 8d8d8d */
}

.social-icon.reddit.color {
    background-position: -935px 0;
    width: 35px;
    height: 35px;
}

.social-buttons li {
    margin-top: 10px;
}

sup {
    font-size: 60%;
    padding: 2px;
    vertical-align: super;
}

ol li {
    list-style-type: decimal;
    margin-left: 20px;
    padding: 4px 0;
}

.subscribe input.submit {
    float: left;
}

.qoute .subscribe input.submit {
    float: right;
}

.post-content .followers a {
    border-bottom: none;
}

.followers {
    text-align: center;
}

.post-content .subscribe input.mail {
    width: 68%;
    height: 20px;
    margin: 10px 0;
}

.post-content .subscribe input.submit {
    margin: 10px 0;
    height: 36px;
}

abbr {
    border-bottom: 1px dotted #00aec8; /* 8d8d8d */
}

blockquote {
    margin-bottom: 7px;
}

.container .columns .page-top {
    margin-top: 30px;
}

.windows-surface {
    background: url('../content/devices/window-surface-landscape.png') no-repeat;
    background-size: 100%;
    width: 580px;
    height: 356px;
}

.windows-surface .video {
    position: relative;
    left: 42px;
    top: 40px;
    width: 498px;
    height: 280px;
}

.windows-surface .video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.game-thumbnail {
    min-height: 230px;
}

@media all and (max-width: 960px) {
    .share-pitch {
        float: left;
    }

    .post-content .subscribe input.mail {
        width: 94%;
    }

    .survey-call {
        display: none;
    }

    .windows-surface {
        width: 460px;
        height: 282px;
    }

    .windows-surface .video {
        left: 34px;
        top: 32px;
        width: 394px;
        height: 220px;
    }

    .game-thumbnail {
        min-height: 180px;
    }
}

@media only screen and (max-width: 767px) {
    .logo a {
        display: block;
        width: 50px;
        margin: auto;
    }

    .post-content .subscribe input.mail {
        width: 74%;
    }

    .windows-surface {
        width: 420px;
        height: 257px;
    }

    .windows-surface .video {
        left: 30px;
        top: 28px;
        width: 360px;
        height: 202px;
    }
}

@media only screen and (max-width: 479px) {
    .other-platforms {
        width: 84%;
    }

    .qoute form {
        width: 94%;
    }

    .qoute .subscribe input.mail {
        width: 62%;
    }

    .subscribe input.submit {
        float: right;
    }

    .post-content .subscribe input.mail {
        width: 64%;
    }

    .windows-surface {
        width: 300px;
        height: 184px;
    }

    .windows-surface .video {
        left: 22px;
        top: 20px;
        width: 258px;
        height: 146px;
    }
}