.icon.glass {
    background-position: -1px 0;
    width: 19px;
    height: 20px;
}

.icon.leaf {
    background-position: -36px 0;
    width: 20px;
    height: 20px;
}

.icon.dog {
    background-position: -70px 0;
    width: 21px;
    height: 20px;
}

.icon.user {
    background-position: -106px 0;
    width: 19px;
    height: 19px;
}

.icon.girl {
    background-position: -140px 0;
    width: 18px;
    height: 19px;
}

.icon.car {
    background-position: -174px 0;
    width: 21px;
    height: 19px;
}

.icon.user_add {
    background-position: -206px 0;
    width: 22px;
    height: 19px;
}

.icon.user_remove {
    background-position: -242px 0;
    width: 22px;
    height: 19px;
}

.icon.film {
    background-position: -278px 0;
    width: 19px;
    height: 21px;
}

.icon.magic {
    background-position: -314px 0;
    width: 18px;
    height: 19px;
}

.icon.envelope {
    background-position: -2px -38px;
    width: 18px;
    height: 13px;
}

.icon.camera {
    background-position: -36px -36px;
    width: 19px;
    height: 17px;
}

.icon.heart {
    background-position: -71px -36px;
    width: 18px;
    height: 17px;
}

.icon.beach_umbrella {
    background-position: -105px -35px;
    width: 19px;
    height: 19px;
}

.icon.train {
    background-position: -142px -34px;
    width: 15px;
    height: 21px;
}

.icon.print {
    background-position: -175px -35px;
    width: 18px;
    height: 19px;
}

.icon.bin {
    background-position: -211px -32px;
    width: 16px;
    height: 22px;
}

.icon.music {
    background-position: -245px -35px;
    width: 16px;
    height: 19px;
}

.icon.note {
    background-position: -281px -35px;
    width: 13px;
    height: 19px;
}

.icon.cogwheel {
    background-position: -313px -35px;
    width: 19px;
    height: 19px;
}

.icon.home {
    background-position: -1px -68px;
    width: 20px;
    height: 21px;
}

.icon.snowflake {
    background-position: -35px -68px;
    width: 21px;
    height: 22px;
}

.icon.fire {
    background-position: -72px -69px;
    width: 16px;
    height: 20px;
}

.icon.cogwheels {
    background-position: -105px -69px;
    width: 20px;
    height: 20px;
}

.icon.parents {
    background-position: -137px -70px;
    width: 24px;
    height: 18px;
}

.icon.binoculars {
    background-position: -175px -69px;
    width: 18px;
    height: 20px;
}

.icon.road {
    background-position: -208px -69px;
    width: 21px;
    height: 20px;
}

.icon.search {
    background-position: -244px -70px;
    width: 19px;
    height: 19px;
}

.icon.cars {
    background-position: -275px -69px;
    width: 27px;
    height: 20px;
}

.icon.notes_2 {
    background-position: -315px -67px;
    width: 16px;
    height: 22px;
}

.icon.pencil {
    background-position: -2px -104px;
    width: 18px;
    height: 19px;
}

.icon.bus {
    background-position: -33px -103px;
    width: 25px;
    height: 20px;
}

.icon.wifi_alt {
    background-position: -70px -103px;
    width: 20px;
    height: 20px;
}

.icon.luggage {
    background-position: -107px -103px;
    width: 16px;
    height: 21px;
}

.icon.old_man {
    background-position: -141px -103px;
    width: 18px;
    height: 20px;
}

.icon.woman {
    background-position: -176px -105px;
    width: 17px;
    height: 18px;
}

.icon.file {
    background-position: -212px -104px;
    width: 15px;
    height: 19px;
}

.icon.credit {
    background-position: -243px -104px;
    width: 20px;
    height: 19px;
}

.icon.airplane {
    background-position: -279px -104px;
    width: 18px;
    height: 20px;
}

.icon.notes {
    background-position: -315px -103px;
    width: 16px;
    height: 20px;
}

.icon.stats {
    background-position: -2px -138px;
    width: 20px;
    height: 20px;
}

.icon.charts {
    background-position: -35px -139px;
    width: 20px;
    height: 19px;
}

.icon.pie_chart {
    background-position: -71px -139px;
    width: 20px;
    height: 19px;
}

.icon.group {
    background-position: -101px -140px;
    width: 27px;
    height: 18px;
}

.icon.keys {
    background-position: -140px -138px;
    width: 19px;
    height: 21px;
}

.icon.calendar {
    background-position: -175px -138px;
    width: 18px;
    height: 20px;
}

.icon.router {
    background-position: -207px -138px;
    width: 21px;
    height: 20px;
}

.icon.camera_small {
    background-position: -245px -139px;
    width: 17px;
    height: 19px;
}

.icon.dislikes {
    background-position: -278px -139px;
    width: 19px;
    height: 19px;
}

.icon.star {
    background-position: -313px -139px;
    width: 19px;
    height: 19px;
}

.icon.link {
    background-position: -2px -174px;
    width: 17px;
    height: 18px;
}

.icon.eye_open {
    background-position: -34px -176px;
    width: 23px;
    height: 14px;
}

.icon.eye_close {
    background-position: -69px -173px;
    width: 23px;
    height: 20px;
}

.icon.alarm {
    background-position: -104px -173px;
    width: 21px;
    height: 20px;
}

.icon.clock {
    background-position: -140px -173px;
    width: 19px;
    height: 20px;
}

.icon.stopwatch {
    background-position: -176px -171px;
    width: 17px;
    height: 22px;
}

.icon.projector {
    background-position: -209px -171px;
    width: 21px;
    height: 20px;
}

.icon.history {
    background-position: -244px -173px;
    width: 19px;
    height: 20px;
}

.icon.truck {
    background-position: -276px -172px;
    width: 24px;
    height: 21px;
}

.icon.cargo {
    background-position: -313px -172px;
    width: 19px;
    height: 21px;
}

.icon.compass {
    background-position: -2px -208px;
    width: 18px;
    height: 19px;
}

.icon.keynote {
    background-position: -38px -206px;
    width: 15px;
    height: 23px;
}

.icon.attach {
    background-position: -70px -208px;
    width: 20px;
    height: 19px;
}

.icon.power {
    background-position: -106px -208px;
    width: 17px;
    height: 19px;
}

.icon.lightbulb {
    background-position: -142px -207px;
    width: 15px;
    height: 20px;
}

.icon.tag {
    background-position: -175px -208px;
    width: 18px;
    height: 19px;
}

.icon.tags {
    background-position: -207px -208px;
    width: 23px;
    height: 19px;
}

.icon.cleaning {
    background-position: -245px -208px;
    width: 18px;
    height: 19px;
}

.icon.ruller {
    background-position: -277px -212px;
    width: 21px;
    height: 12px;
}

.icon.gift {
    background-position: -313px -207px;
    width: 19px;
    height: 20px;
}

.icon.umbrella {
    background-position: -1px -241px;
    width: 20px;
    height: 22px;
}

.icon.book {
    background-position: -37px -243px;
    width: 17px;
    height: 19px;
}

.icon.bookmark {
    background-position: -74px -243px;
    width: 13px;
    height: 19px;
}

.icon.signal {
    background-position: -103px -244px;
    width: 24px;
    height: 18px;
}

.icon.cup {
    background-position: -141px -243px;
    width: 17px;
    height: 19px;
}

.icon.stroller {
    background-position: -173px -242px;
    width: 20px;
    height: 20px;
}

.icon.headphones {
    background-position: -210px -243px;
    width: 18px;
    height: 19px;
}

.icon.headset {
    background-position: -244px -243px;
    width: 19px;
    height: 22px;
}

.icon.warning_sign {
    background-position: -277px -243px;
    width: 22px;
    height: 19px;
}

.icon.signal_2 {
    background-position: -313px -243px;
    width: 19px;
    height: 19px;
}

.icon.retweet {
    background-position: 0 -281px;
    width: 22px;
    height: 13px;
}

.icon.refresh {
    background-position: -36px -277px;
    width: 19px;
    height: 20px;
}

.icon.roundabout {
    background-position: -71px -277px;
    width: 20px;
    height: 21px;
}

.icon.random {
    background-position: -104px -279px;
    width: 21px;
    height: 16px;
}

.icon.heat {
    background-position: -140px -277px;
    width: 22px;
    height: 20px;
}

.icon.repeat {
    background-position: -175px -277px;
    width: 18px;
    height: 20px;
}

.icon.display {
    background-position: -208px -277px;
    width: 21px;
    height: 20px;
}

.icon.log_book {
    background-position: -245px -277px;
    width: 17px;
    height: 20px;
}

.icon.adress_book {
    background-position: -280px -277px;
    width: 17px;
    height: 20px;
}

.icon.magnet {
    background-position: -315px -278px;
    width: 16px;
    height: 19px;
}

.icon.table {
    background-position: -2px -312px;
    width: 18px;
    height: 19px;
}

.icon.adjust {
    background-position: -36px -312px;
    width: 19px;
    height: 20px;
}

.icon.tint {
    background-position: -71px -311px;
    width: 18px;
    height: 20px;
}

.icon.crop {
    background-position: -105px -312px;
    width: 20px;
    height: 20px;
}

.icon.vector_path_square {
    background-position: -140px -312px;
    width: 19px;
    height: 19px;
}

.icon.vector_path_circle {
    background-position: -175px -312px;
    width: 18px;
    height: 19px;
}

.icon.vector_path_polygon {
    background-position: -209px -311px;
    width: 20px;
    height: 20px;
}

.icon.vector_path_line {
    background-position: -244px -312px;
    width: 19px;
    height: 19px;
}

.icon.vector_path_curve {
    background-position: -279px -312px;
    width: 18px;
    height: 19px;
}

.icon.vector_path_all {
    background-position: -313px -312px;
    width: 19px;
    height: 19px;
}

.icon.font {
    background-position: -2px -347px;
    width: 20px;
    height: 18px;
}

.icon.italic {
    background-position: -40px -347px;
    width: 11px;
    height: 19px;
}

.icon.bold {
    background-position: -72px -347px;
    width: 15px;
    height: 19px;
}

.icon.text_underline {
    background-position: -107px -347px;
    width: 16px;
    height: 19px;
}

.icon.text_strike {
    background-position: -142px -347px;
    width: 15px;
    height: 18px;
}

.icon.text_height {
    background-position: -174px -346px;
    width: 20px;
    height: 19px;
}

.icon.text_width {
    background-position: -211px -347px;
    width: 16px;
    height: 19px;
}

.icon.text_resize {
    background-position: -243px -346px;
    width: 20px;
    height: 21px;
}

.icon.left_indent {
    background-position: -279px -348px;
    width: 18px;
    height: 17px;
}

.icon.right_indent {
    background-position: -313px -348px;
    width: 19px;
    height: 17px;
}

.icon.align_left {
    background-position: -2px -383px;
    width: 18px;
    height: 17px;
}

.icon.align_center {
    background-position: -36px -383px;
    width: 19px;
    height: 17px;
}

.icon.align_right {
    background-position: -71px -383px;
    width: 18px;
    height: 17px;
}

.icon.justify {
    background-position: -106px -383px;
    width: 18px;
    height: 17px;
}

.icon.list {
    background-position: -140px -383px;
    width: 19px;
    height: 17px;
}

.icon.text_smaller {
    background-position: -176px -384px;
    width: 17px;
    height: 14px;
}

.icon.text_bigger {
    background-position: -209px -382px;
    width: 19px;
    height: 18px;
}

.icon.embed {
    background-position: -242px -386px;
    width: 23px;
    height: 12px;
}

.icon.embed_close {
    background-position: -277px -381px;
    width: 22px;
    height: 20px;
}

.icon.adjust {
    background-position: -314px -381px;
    width: 18px;
    height: 20px;
}

.icon.message_full {
    background-position: -2px -413px;
    width: 18px;
    height: 22px;
}

.icon.message_empty {
    background-position: -36px -413px;
    width: 19px;
    height: 22px;
}

.icon.message_in {
    background-position: -71px -413px;
    width: 18px;
    height: 22px;
}

.icon.message_out {
    background-position: -106px -413px;
    width: 18px;
    height: 22px;
}

.icon.message_plus {
    background-position: -140px -417px;
    width: 22px;
    height: 18px;
}

.icon.message_minus {
    background-position: -175px -417px;
    width: 22px;
    height: 18px;
}

.icon.message_ban {
    background-position: -210px -417px;
    width: 22px;
    height: 18px;
}

.icon.message_flag {
    background-position: -244px -417px;
    width: 21px;
    height: 18px;
}

.icon.message_lock {
    background-position: -279px -416px;
    width: 21px;
    height: 19px;
}

.icon.message_new {
    background-position: -313px -418px;
    width: 22px;
    height: 17px;
}

.icon.inbox {
    background-position: -2px -452px;
    width: 18px;
    height: 18px;
}

.icon.inbox_plus {
    background-position: -36px -449px;
    width: 21px;
    height: 21px;
}

.icon.inbox_minus {
    background-position: -71px -449px;
    width: 21px;
    height: 21px;
}

.icon.inbox_lock {
    background-position: -106px -448px;
    width: 19px;
    height: 22px;
}

.icon.inbox_in {
    background-position: -140px -449px;
    width: 19px;
    height: 21px;
}

.icon.inbox_out {
    background-position: -175px -449px;
    width: 18px;
    height: 21px;
}

.icon.computer_locked {
    background-position: -208px -451px;
    width: 21px;
    height: 19px;
}

.icon.computer_service {
    background-position: -243px -451px;
    width: 21px;
    height: 19px;
}

.icon.computer_proces {
    background-position: -277px -451px;
    width: 22px;
    height: 19px;
}

.icon.phone {
    background-position: -316px -450px;
    width: 12px;
    height: 20px;
}

.icon.database_lock {
    background-position: -2px -483px;
    width: 20px;
    height: 22px;
}

.icon.database_plus {
    background-position: -36px -483px;
    width: 21px;
    height: 22px;
}

.icon.database_minus {
    background-position: -71px -483px;
    width: 21px;
    height: 22px;
}

.icon.database_ban {
    background-position: -106px -483px;
    width: 19px;
    height: 22px;
}

.icon.folder_open {
    background-position: -140px -487px;
    width: 23px;
    height: 18px;
}

.icon.folder_plus {
    background-position: -175px -485px;
    width: 22px;
    height: 20px;
}

.icon.folder_minus {
    background-position: -210px -485px;
    width: 22px;
    height: 20px;
}

.icon.folder_lock {
    background-position: -244px -484px;
    width: 22px;
    height: 21px;
}

.icon.folder_flag {
    background-position: -279px -485px;
    width: 20px;
    height: 20px;
}

.icon.folder_new {
    background-position: -313px -485px;
    width: 22px;
    height: 20px;
}

.icon.check {
    background-position: -2px -524px;
    width: 17px;
    height: 15px;
}

.icon.edit {
    background-position: -36px -522px;
    width: 19px;
    height: 17px;
}

.icon.new_window {
    background-position: -71px -522px;
    width: 20px;
    height: 17px;
}

.icon.more_windows {
    background-position: -106px -521px;
    width: 17px;
    height: 18px;
}

.icon.show_big_thumbnails {
    background-position: -141px -521px;
    width: 17px;
    height: 18px;
}

.icon.show_thumbnails {
    background-position: -176px -521px;
    width: 17px;
    height: 18px;
}

.icon.show_thumbnails_with_lines {
    background-position: -210px -524px;
    width: 18px;
    height: 12px;
}

.icon.show_lines {
    background-position: -244px -524px;
    width: 19px;
    height: 12px;
}

.icon.playlist {
    background-position: -279px -520px;
    width: 21px;
    height: 19px;
}

.icon.picture {
    background-position: -313px -522px;
    width: 19px;
    height: 16px;
}

.icon.imac {
    background-position: -1px -556px;
    width: 20px;
    height: 18px;
}

.icon.macbook {
    background-position: -35px -558px;
    width: 21px;
    height: 13px;
}

.icon.ipad {
    background-position: -72px -553px;
    width: 16px;
    height: 22px;
}

.icon.iphone {
    background-position: -109px -555px;
    width: 11px;
    height: 19px;
}

.icon.iphone_transfer {
    background-position: -139px -555px;
    width: 22px;
    height: 19px;
}

.icon.iphone_exchange {
    background-position: -173px -555px;
    width: 23px;
    height: 19px;
}

.icon.ipod {
    background-position: -213px -556px;
    width: 11px;
    height: 17px;
}

.icon.ipod_shuffle {
    background-position: -248px -559px;
    width: 12px;
    height: 11px;
}

.icon.ear_plugs {
    background-position: -280px -555px;
    width: 16px;
    height: 19px;
}

.icon.albums {
    background-position: -312px -557px;
    width: 21px;
    height: 15px;
}

.icon.step_backward {
    background-position: -5px -592px;
    width: 11px;
    height: 14px;
}

.icon.fast_backward {
    background-position: -36px -592px;
    width: 19px;
    height: 14px;
}

.icon.rewind {
    background-position: -71px -592px;
    width: 18px;
    height: 14px;
}

.icon.play {
    background-position: -109px -592px;
    width: 13px;
    height: 14px;
}

.icon.pause {
    background-position: -145px -592px;
    width: 9px;
    height: 14px;
}

.icon.stop {
    background-position: -178px -593px;
    width: 12px;
    height: 12px;
}

.icon.forward {
    background-position: -210px -592px;
    width: 18px;
    height: 14px;
}

.icon.fast_forward {
    background-position: -243px -592px;
    width: 20px;
    height: 14px;
}

.icon.step_forward {
    background-position: -282px -592px;
    width: 12px;
    height: 14px;
}

.icon.eject {
    background-position: -316px -591px;
    width: 14px;
    height: 14px;
}

.icon.facetime_video {
    background-position: -2px -627px;
    width: 18px;
    height: 13px;
}

.icon.download_alt {
    background-position: -36px -624px;
    width: 19px;
    height: 19px;
}

.icon.mute {
    background-position: -71px -627px;
    width: 17px;
    height: 13px;
}

.icon.volume_down {
    background-position: -106px -627px;
    width: 12px;
    height: 13px;
}

.icon.volume_up {
    background-position: -140px -624px;
    width: 19px;
    height: 19px;
}

.icon.screenshot {
    background-position: -174px -623px;
    width: 21px;
    height: 21px;
}

.icon.move {
    background-position: -210px -624px;
    width: 18px;
    height: 19px;
}

.icon.more_2 {
    background-position: -245px -631px;
    width: 17px;
    height: 7px;
}

.icon.brightness_reduce {
    background-position: -280px -626px;
    width: 16px;
    height: 16px;
}

.icon.brightness_increase {
    background-position: -313px -624px;
    width: 19px;
    height: 19px;
}

.icon.circle_plus {
    background-position: -1px -658px;
    width: 20px;
    height: 20px;
}

.icon.circle_minus {
    background-position: -36px -658px;
    width: 19px;
    height: 20px;
}

.icon.circle_remove {
    background-position: -70px -658px;
    width: 20px;
    height: 20px;
}

.icon.circle_ok {
    background-position: -105px -658px;
    width: 20px;
    height: 20px;
}

.icon.circle_question_mark {
    background-position: -140px -658px;
    width: 19px;
    height: 20px;
}

.icon.circle_info {
    background-position: -174px -658px;
    width: 20px;
    height: 20px;
}

.icon.circle_exclamation_mark {
    background-position: -209px -658px;
    width: 20px;
    height: 20px;
}

.icon.remove {
    background-position: -244px -658px;
    width: 19px;
    height: 20px;
}

.icon.ok {
    background-position: -278px -658px;
    width: 20px;
    height: 20px;
}

.icon.ban {
    background-position: -313px -658px;
    width: 20px;
    height: 20px;
}

.icon.download {
    background-position: -1px -693px;
    width: 20px;
    height: 20px;
}

.icon.upload {
    background-position: -36px -693px;
    width: 19px;
    height: 20px;
}

.icon.shopping_cart {
    background-position: -71px -694px;
    width: 20px;
    height: 19px;
}

.icon.lock {
    background-position: -106px -692px;
    width: 17px;
    height: 21px;
}

.icon.unlock {
    background-position: -141px -692px;
    width: 16px;
    height: 21px;
}

.icon.electricity {
    background-position: -180px -693px;
    width: 9px;
    height: 20px;
}

.icon.ok_2 {
    background-position: -209px -696px;
    width: 19px;
    height: 15px;
}

.icon.remove_2 {
    background-position: -246px -696px;
    width: 14px;
    height: 14px;
}

.icon.cart_out {
    background-position: -278px -693px;
    width: 20px;
    height: 20px;
}

.icon.cart_in {
    background-position: -313px -693px;
    width: 20px;
    height: 20px;
}

.icon.left_arrow {
    background-position: -3px -730px;
    width: 16px;
    height: 15px;
}

.icon.right_arrow {
    background-position: -38px -730px;
    width: 15px;
    height: 15px;
}

.icon.down_arrow {
    background-position: -73px -730px;
    width: 14px;
    height: 16px;
}

.icon.up_arrow {
    background-position: -108px -730px;
    width: 14px;
    height: 16px;
}

.icon.resize_small {
    background-position: -140px -728px;
    width: 19px;
    height: 19px;
}

.icon.resize_full {
    background-position: -175px -728px;
    width: 18px;
    height: 19px;
}

.icon.circle_arrow_left {
    background-position: -209px -728px;
    width: 20px;
    height: 20px;
}

.icon.circle_arrow_right {
    background-position: -244px -728px;
    width: 19px;
    height: 20px;
}

.icon.circle_arrow_top {
    background-position: -279px -728px;
    width: 20px;
    height: 20px;
}

.icon.circle_arrow_down {
    background-position: -313px -728px;
    width: 20px;
    height: 20px;
}

.icon.play_button {
    background-position: -1px -762px;
    width: 20px;
    height: 20px;
}

.icon.unshare {
    background-position: -37px -765px;
    width: 18px;
    height: 15px;
}

.icon.share {
    background-position: -71px -765px;
    width: 18px;
    height: 15px;
}

.icon.thin_right_arrow {
    background-position: -110px -764px;
    width: 12px;
    height: 17px;
}

.icon.thin_arrow_left {
    background-position: -144px -764px;
    width: 11px;
    height: 17px;
}

.icon.bluetooth {
    background-position: -179px -763px;
    width: 11px;
    height: 19px;
}

.icon.euro {
    background-position: -210px -764px;
    width: 17px;
    height: 18px;
}

.icon.usd {
    background-position: -247px -762px;
    width: 13px;
    height: 21px;
}

.icon.bp {
    background-position: -282px -763px;
    width: 14px;
    height: 19px;
}

.icon.retweet_2 {
    background-position: -311px -764px;
    width: 24px;
    height: 17px;
}

.icon.moon {
    background-position: -2px -797px;
    width: 17px;
    height: 20px;
}

.icon.sun {
    background-position: -36px -797px;
    width: 19px;
    height: 20px;
}

.icon.cloud {
    background-position: -70px -800px;
    width: 21px;
    height: 14px;
}

.icon.direction {
    background-position: -105px -797px;
    width: 19px;
    height: 20px;
}

.icon.brush {
    background-position: -140px -798px;
    width: 19px;
    height: 18px;
}

.icon.pen {
    background-position: -176px -798px;
    width: 19px;
    height: 19px;
}

.icon.zoom_in {
    background-position: -210px -797px;
    width: 19px;
    height: 20px;
}

.icon.zoom_out {
    background-position: -245px -797px;
    width: 19px;
    height: 20px;
}

.icon.pin {
    background-position: -284px -797px;
    width: 8px;
    height: 20px;
}

.icon.riflescope {
    background-position: -313px -797px;
    width: 19px;
    height: 20px;
}

.icon.rotation_lock {
    background-position: -2px -832px;
    width: 20px;
    height: 19px;
}

.icon.flash {
    background-position: -41px -831px;
    width: 11px;
    height: 20px;
}

.icon.google_maps {
    background-position: -75px -832px;
    width: 11px;
    height: 19px;
}

.icon.anchor {
    background-position: -106px -832px;
    width: 18px;
    height: 19px;
}

.icon.conversation {
    background-position: -140px -834px;
    width: 19px;
    height: 14px;
}

.icon.chat {
    background-position: -175px -834px;
    width: 18px;
    height: 15px;
}

.icon.male {
    background-position: -210px -833px;
    width: 17px;
    height: 18px;
}

.icon.female {
    background-position: -247px -832px;
    width: 13px;
    height: 21px;
}

.icon.asterisk {
    background-position: -280px -834px;
    width: 16px;
    height: 16px;
}

.icon.divide {
    background-position: -316px -835px;
    width: 14px;
    height: 13px;
}

.icon.snorkel_diving {
    background-position: -1px -866px;
    width: 21px;
    height: 20px;
}

.icon.scuba_diving {
    background-position: -36px -866px;
    width: 20px;
    height: 19px;
}

.icon.oxygen_bottle {
    background-position: -72px -865px;
    width: 17px;
    height: 22px;
}

.icon.fins {
    background-position: -105px -865px;
    width: 23px;
    height: 22px;
}

.icon.fishes {
    background-position: -139px -865px;
    width: 21px;
    height: 23px;
}

.icon.boat {
    background-position: -175px -867px;
    width: 18px;
    height: 19px;
}

.icon.delete_point {
    background-position: -208px -870px;
    width: 20px;
    height: 14px;
}

.icon.sheriffs_star {
    background-position: -244px -866px;
    width: 19px;
    height: 21px;
}

.icon.qrcode {
    background-position: -279px -867px;
    width: 18px;
    height: 19px;
}

.icon.barcode {
    background-position: -313px -867px;
    width: 19px;
    height: 19px;
}

.icon.pool {
    background-position: -2px -901px;
    width: 18px;
    height: 20px;
}

.icon.buoy {
    background-position: -36px -901px;
    width: 19px;
    height: 20px;
}

.icon.spade {
    background-position: -71px -902px;
    width: 18px;
    height: 19px;
}

.icon.bank {
    background-position: -106px -901px;
    width: 18px;
    height: 20px;
}

.icon.vcard {
    background-position: -141px -901px;
    width: 17px;
    height: 20px;
}

.icon.electrical_plug {
    background-position: -177px -901px;
    width: 14px;
    height: 20px;
}

.icon.flag {
    background-position: -211px -901px;
    width: 16px;
    height: 20px;
}

.icon.credit_card {
    background-position: -243px -904px;
    width: 20px;
    height: 15px;
}

.icon.keyboard_wireless {
    background-position: -278px -904px;
    width: 21px;
    height: 16px;
}

.icon.keyboard_wired {
    background-position: -312px -900px;
    width: 21px;
    height: 20px;
}

.icon.shield {
    background-position: -2px -936px;
    width: 17px;
    height: 19px;
}

.icon.ring {
    background-position: -37px -936px;
    width: 16px;
    height: 19px;
}

.icon.cake {
    background-position: -72px -936px;
    width: 17px;
    height: 19px;
}

.icon.drink {
    background-position: -105px -936px;
    width: 18px;
    height: 19px;
}

.icon.beer {
    background-position: -141px -936px;
    width: 18px;
    height: 19px;
}

.icon.fast_food {
    background-position: -174px -936px;
    width: 22px;
    height: 19px;
}

.icon.cutlery {
    background-position: -214px -936px;
    width: 10px;
    height: 19px;
}

.icon.pizza {
    background-position: -244px -935px;
    width: 19px;
    height: 22px;
}

.icon.birthday_cake {
    background-position: -278px -933px;
    width: 20px;
    height: 22px;
}

.icon.tablet {
    background-position: -313px -934px;
    width: 19px;
    height: 20px;
}

.icon.settings {
    background-position: -2px -971px;
    width: 18px;
    height: 19px;
}

.icon.bullets {
    background-position: -36px -972px;
    width: 20px;
    height: 18px;
}

.icon.cardio {
    background-position: -70px -970px;
    width: 19px;
    height: 20px;
}

.icon.t-shirt {
    background-position: -104px -972px;
    width: 21px;
    height: 18px;
}

.icon.pants {
    background-position: -142px -971px;
    width: 15px;
    height: 19px;
}

.icon.sweater {
    background-position: -173px -971px;
    width: 23px;
    height: 19px;
}

.icon.fabric {
    background-position: -209px -972px;
    width: 20px;
    height: 17px;
}

.icon.leather {
    background-position: -245px -971px;
    width: 18px;
    height: 19px;
}

.icon.scissors {
    background-position: -280px -969px;
    width: 18px;
    height: 22px;
}

.icon.podium {
    background-position: -312px -972px;
    width: 21px;
    height: 17px;
}

.icon.skull {
    background-position: -2px -1005px;
    width: 17px;
    height: 20px;
}

.icon.celebration {
    background-position: -36px -1005px;
    width: 19px;
    height: 20px;
}

.icon.tea_kettle {
    background-position: -70px -1006px;
    width: 20px;
    height: 19px;
}

.icon.french_press {
    background-position: -106px -1005px;
    width: 18px;
    height: 20px;
}

.icon.coffe_cup {
    background-position: -140px -1009px;
    width: 19px;
    height: 16px;
}

.icon.pot {
    background-position: -174px -1006px;
    width: 21px;
    height: 18px;
}

.icon.grater {
    background-position: -212px -1005px;
    width: 14px;
    height: 20px;
}

.icon.kettle {
    background-position: -245px -1005px;
    width: 18px;
    height: 20px;
}

.icon.hospital {
    background-position: -279px -1005px;
    width: 18px;
    height: 20px;
}

.icon.hospital_h {
    background-position: -313px -1005px;
    width: 19px;
    height: 20px;
}

.icon.microphone {
    background-position: -4px -1040px;
    width: 14px;
    height: 19px;
}

.icon.webcam {
    background-position: -38px -1040px;
    width: 15px;
    height: 19px;
}

.icon.temple_christianity_church {
    background-position: -71px -1040px;
    width: 18px;
    height: 20px;
}

.icon.temple_islam {
    background-position: -106px -1041px;
    width: 19px;
    height: 19px;
}

.icon.temple_hindu {
    background-position: -140px -1041px;
    width: 19px;
    height: 19px;
}

.icon.temple_buddhist {
    background-position: -173px -1042px;
    width: 22px;
    height: 18px;
}

.icon.electrical_socket_eu {
    background-position: -210px -1041px;
    width: 18px;
    height: 18px;
}

.icon.electrical_socket_us {
    background-position: -245px -1041px;
    width: 18px;
    height: 18px;
}

.icon.bomb {
    background-position: -280px -1040px;
    width: 20px;
    height: 20px;
}

.icon.comments {
    background-position: -313px -1042px;
    width: 19px;
    height: 19px;
}

.icon.flower {
    background-position: -4px -1074px;
    width: 15px;
    height: 20px;
}

.icon.baseball {
    background-position: -36px -1074px;
    width: 19px;
    height: 20px;
}

.icon.rugby {
    background-position: -72px -1075px;
    width: 17px;
    height: 19px;
}

.icon.ax {
    background-position: -105px -1075px;
    width: 20px;
    height: 19px;
}

.icon.table_tennis {
    background-position: -140px -1075px;
    width: 18px;
    height: 19px;
}

.icon.bowling {
    background-position: -175px -1075px;
    width: 18px;
    height: 19px;
}

.icon.tree_conifer {
    background-position: -211px -1075px;
    width: 16px;
    height: 19px;
}

.icon.tree_deciduous {
    background-position: -246px -1074px;
    width: 15px;
    height: 20px;
}

.icon.more-items {
    background-position: -280px -1075px;
    width: 16px;
    height: 19px;
}

.icon.sort {
    background-position: -313px -1075px;
    width: 19px;
    height: 20px;
}

.icon.filter {
    background-position: -3px -1109px;
    width: 16px;
    height: 20px;
}

.icon.gamepad {
    background-position: -36px -1112px;
    width: 20px;
    height: 15px;
}

.icon.playing_dices {
    background-position: -71px -1110px;
    width: 21px;
    height: 19px;
}

.icon.calculator {
    background-position: -107px -1109px;
    width: 16px;
    height: 20px;
}

.icon.tie {
    background-position: -145px -1109px;
    width: 9px;
    height: 20px;
}

.icon.wallet {
    background-position: -174px -1111px;
    width: 19px;
    height: 16px;
}

.icon.share_2 {
    background-position: -210px -1110px;
    width: 17px;
    height: 18px;
}

.icon.sampler {
    background-position: -243px -1110px;
    width: 21px;
    height: 18px;
}

.icon.piano {
    background-position: -279px -1109px;
    width: 18px;
    height: 20px;
}

.icon.web_browser {
    background-position: -313px -1110px;
    width: 19px;
    height: 18px;
}

.icon.blog {
    background-position: -2px -1145px;
    width: 17px;
    height: 18px;
}

.icon.dashboard {
    background-position: -36px -1144px;
    width: 19px;
    height: 19px;
}

.icon.certificate {
    background-position: -74px -1144px;
    width: 13px;
    height: 20px;
}

.icon.bell {
    background-position: -106px -1144px;
    width: 18px;
    height: 19px;
}

.icon.candle {
    background-position: -142px -1143px;
    width: 15px;
    height: 20px;
}

.icon.pin_classic {
    background-position: -175px -1144px;
    width: 18px;
    height: 19px;
}

.icon.iphone_shake {
    background-position: -210px -1144px;
    width: 18px;
    height: 19px;
}

.icon.pin_flag {
    background-position: -243px -1145px;
    width: 23px;
    height: 17px;
}

.icon.turtle {
    background-position: -278px -1148px;
    width: 21px;
    height: 13px;
}

.icon.rabbit {
    background-position: -313px -1146px;
    width: 20px;
    height: 17px;
}

.icon.globe {
    background-position: -2px -1179px;
    width: 18px;
    height: 19px;
}

.icon.briefcase {
    background-position: -36px -1179px;
    width: 19px;
    height: 18px;
}

.icon.hdd {
    background-position: -71px -1180px;
    width: 18px;
    height: 17px;
}

.icon.thumbs_up {
    background-position: -106px -1179px;
    width: 18px;
    height: 17px;
}

.icon.thumbs_down {
    background-position: -140px -1180px;
    width: 19px;
    height: 17px;
}

.icon.hand_right {
    background-position: -175px -1180px;
    width: 20px;
    height: 16px;
}

.icon.hand_left {
    background-position: -208px -1180px;
    width: 20px;
    height: 16px;
}

.icon.hand_up {
    background-position: -246px -1177px;
    width: 14px;
    height: 21px;
}

.icon.hand_down {
    background-position: -280px -1179px;
    width: 15px;
    height: 21px;
}

.icon.fullscreen {
    background-position: -313px -1179px;
    width: 19px;
    height: 19px;
}

.icon.shopping_bag {
    background-position: -2px -1212px;
    width: 17px;
    height: 21px;
}

.icon.book_open {
    background-position: -35px -1215px;
    width: 20px;
    height: 18px;
}

.icon.nameplate {
    background-position: -71px -1214px;
    width: 18px;
    height: 17px;
}

.icon.nameplate_alt {
    background-position: -106px -1214px;
    width: 18px;
    height: 18px;
}

.icon.vases {
    background-position: -140px -1213px;
    width: 19px;
    height: 20px;
}

.icon.announcement {
    background-position: -174px -1214px;
    width: 19px;
    height: 16px;
}

.icon.dumbbell {
    background-position: -209px -1217px;
    width: 20px;
    height: 13px;
}

.icon.suitcase {
    background-position: -244px -1214px;
    width: 19px;
    height: 18px;
}

.icon.file_import {
    background-position: -280px -1213px;
    width: 17px;
    height: 20px;
}

.icon.file_export {
    background-position: -315px -1213px;
    width: 17px;
    height: 20px;
}

.icon.pinterest {
    background-position: -2px -1248px;
    width: 18px;
    height: 19px;
}

.icon.dropbox {
    background-position: -36px -1248px;
    width: 19px;
    height: 19px;
}

.icon.google_alt {
    background-position: -71px -1248px;
    width: 18px;
    height: 19px;
}

.icon.jolicloud {
    background-position: -106px -1248px;
    width: 18px;
    height: 19px;
}

.icon.yahoo {
    background-position: -140px -1248px;
    width: 19px;
    height: 19px;
}

.icon.blogger {
    background-position: -175px -1248px;
    width: 18px;
    height: 19px;
}

.icon.picasa {
    background-position: -210px -1248px;
    width: 18px;
    height: 19px;
}

.icon.amazon {
    background-position: -244px -1248px;
    width: 19px;
    height: 19px;
}

.icon.tumblr {
    background-position: -279px -1248px;
    width: 18px;
    height: 19px;
}

.icon.wordpress {
    background-position: -313px -1248px;
    width: 19px;
    height: 19px;
}

.icon.instapaper {
    background-position: -2px -1283px;
    width: 18px;
    height: 19px;
}

.icon.evernote {
    background-position: -36px -1283px;
    width: 19px;
    height: 19px;
}

.icon.xing {
    background-position: -71px -1283px;
    width: 18px;
    height: 19px;
}

.icon.zootool {
    background-position: -106px -1283px;
    width: 18px;
    height: 19px;
}

.icon.dribbble {
    background-position: -140px -1283px;
    width: 19px;
    height: 19px;
}

.icon.deviantart {
    background-position: -175px -1283px;
    width: 18px;
    height: 19px;
}

.icon.read_it_later {
    background-position: -210px -1283px;
    width: 18px;
    height: 19px;
}

.icon.linked_in {
    background-position: -244px -1283px;
    width: 19px;
    height: 19px;
}

.icon.forrst {
    background-position: -279px -1283px;
    width: 18px;
    height: 19px;
}

.icon.pinboard {
    background-position: -313px -1283px;
    width: 19px;
    height: 19px;
}

.icon.behance {
    background-position: -2px -1317px;
    width: 18px;
    height: 20px;
}

.icon.github {
    background-position: -36px -1317px;
    width: 19px;
    height: 20px;
}

.icon.youtube {
    background-position: -71px -1317px;
    width: 18px;
    height: 20px;
}

.icon.skitch {
    background-position: -106px -1317px;
    width: 18px;
    height: 20px;
}

.icon.square_4 {
    background-position: -140px -1317px;
    width: 19px;
    height: 20px;
}

.icon.quora {
    background-position: -175px -1317px;
    width: 18px;
    height: 20px;
}

.icon.google_plus {
    background-position: -210px -1317px;
    width: 18px;
    height: 20px;
}

.icon.spootify {
    background-position: -244px -1317px;
    width: 19px;
    height: 20px;
}

.icon.stumbleupon {
    background-position: -279px -1317px;
    width: 18px;
    height: 20px;
}

.icon.readability {
    background-position: -313px -1317px;
    width: 19px;
    height: 20px;
}

.icon.facebook {
    background-position: -2px -1352px;
    width: 18px;
    height: 18px;
}

.icon.twitter_t {
    background-position: -36px -1352px;
    width: 19px;
    height: 18px;
}

.icon.twitter {
    background-position: -71px -1352px;
    width: 18px;
    height: 18px;
}

.icon.buzz {
    background-position: -106px -1352px;
    width: 18px;
    height: 18px;
}

.icon.vimeo {
    background-position: -140px -1352px;
    width: 19px;
    height: 18px;
}

.icon.flickr_2 {
    background-position: -175px -1352px;
    width: 18px;
    height: 18px;
}

.icon.last_fm {
    background-position: -210px -1352px;
    width: 18px;
    height: 18px;
}

.icon.rss {
    background-position: -244px -1352px;
    width: 19px;
    height: 18px;
}

.icon.skype {
    background-position: -279px -1352px;
    width: 18px;
    height: 18px;
}

.icon.e-mail {
    background-position: -313px -1352px;
    width: 19px;
    height: 18px;
}

.social-icon.behance.color {
    background-position: 0 0;
    width: 35px;
    height: 35px;
}

.social-icon.google_plus.color {
    background-position: -39px 0;
    width: 35px;
    height: 35px;
}

.social-icon.flickr.color {
    background-position: -78px 0;
    width: 35px;
    height: 35px;
}

.social-icon.twitter.color {
    background-position: -117px 0;
    width: 35px;
    height: 35px;
}

.social-icon.facbook.color {
    background-position: -156px 0;
    width: 35px;
    height: 35px;
}

.social-icon.dribbble.color {
    background-position: -195px 0;
    width: 35px;
    height: 35px;
}

.social-icon.skype.color {
    background-position: -234px 0;
    width: 35px;
    height: 35px;
}

.social-icon.digg.color {
    background-position: -273px 0;
    width: 35px;
    height: 35px;
}

.social-icon.html5.color {
    background-position: -312px 0;
    width: 35px;
    height: 35px;
}

.social-icon.linkedin.color {
    background-position: -351px 0;
    width: 35px;
    height: 35px;
}

.social-icon.last_fm.color {
    background-position: -390px 0;
    width: 35px;
    height: 35px;
}

.social-icon.vimeo.color {
    background-position: -429px 0;
    width: 35px;
    height: 35px;
}

.social-icon.tumblr.color {
    background-position: -468px 0;
    width: 35px;
    height: 35px;
}

.social-icon.apple.color {
    background-position: -507px 0;
    width: 35px;
    height: 35px;
}

.social-icon.youtube.color {
    background-position: -546px 0;
    width: 35px;
    height: 35px;
}

.social-icon.rss.color {
    background-position: -585px 0;
    width: 35px;
    height: 35px;
}

.social-icon.deviantart.color {
    background-position: -624px 0;
    width: 35px;
    height: 35px;
}

.social-icon.blogger.color {
    background-position: -663px 0;
    width: 35px;
    height: 35px;
}

.social-icon.wordpress.color {
    background-position: -702px 0;
    width: 35px;
    height: 35px;
}

.social-icon.amazon.color {
    background-position: -741px 0;
    width: 35px;
    height: 35px;
}

.social-icon.paypal.color {
    background-position: -780px 0;
    width: 35px;
    height: 35px;
}

.social-icon.dropbox.color {
    background-position: -819px 0;
    width: 35px;
    height: 35px;
}

.social-icon.pinterest.color {
    background-position: -858px 0;
    width: 35px;
    height: 35px;
}

.social-icon.android.color {
    background-position: -897px 0;
    width: 35px;
    height: 35px;
}

.social-icon.behance.gray {
    background-position: 0 -40px;
    width: 35px;
    height: 35px;
}

.social-icon.google_plus.gray {
    background-position: -39px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.flickr.gray {
    background-position: -78px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.twitter.gray {
    background-position: -117px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.facbook.gray {
    background-position: -156px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.dribbble.gray {
    background-position: -195px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.skype.gray {
    background-position: -234px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.digg.gray {
    background-position: -273px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.html5.gray {
    background-position: -312px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.linkedin.gray {
    background-position: -351px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.last_fm.gray {
    background-position: -390px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.vimeo.gray {
    background-position: -429px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.tumblr.gray {
    background-position: -468px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.apple.gray {
    background-position: -507px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.youtube.gray {
    background-position: -546px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.rss.gray {
    background-position: -585px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.deviantart.gray {
    background-position: -624px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.blogger.gray {
    background-position: -663px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.wordpress.gray {
    background-position: -702px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.amazon.gray {
    background-position: -741px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.paypal.gray {
    background-position: -780px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.dropbox.gray {
    background-position: -819px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.pinterest.gray {
    background-position: -858px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.android.gray {
    background-position: -897px -40px;
    width: 35px;
    height: 35px;
}

.social-icon.behance.black {
    background-position: 0 -130px;
    width: 35px;
    height: 35px;
}

.social-icon.google_plus.black {
    background-position: -39px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.flickr.black {
    background-position: -78px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.twitter.black {
    background-position: -117px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.facbook.black {
    background-position: -156px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.dribbble.black {
    background-position: -195px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.skype.black {
    background-position: -234px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.digg.black {
    background-position: -273px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.html5.black {
    background-position: -312px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.linkedin.black {
    background-position: -351px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.last_fm.black {
    background-position: -390px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.vimeo.black {
    background-position: -429px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.tumblr.black {
    background-position: -468px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.apple.black {
    background-position: -507px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.youtube.black {
    background-position: -546px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.rss.black {
    background-position: -585px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.deviantart.black {
    background-position: -624px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.blogger.black {
    background-position: -663px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.wordpress.black {
    background-position: -702px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.amazon.black {
    background-position: -741px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.paypal.black {
    background-position: -780px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.dropbox.black {
    background-position: -819px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.pinterest.black {
    background-position: -858px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.android.black {
    background-position: -897px -130px;
    width: 35px;
    height: 35px;
}

.social-icon.behance.transparent {
    background-position: -7px -96px;
    width: 20px;
    height: 13px;
}

.social-icon.google_plus.transparent {
    background-position: -46px -93px;
    width: 20px;
    height: 18px;
}

.social-icon.flickr.transparent {
    background-position: -85px -98px;
    width: 19px;
    height: 9px;
}

.social-icon.twitter.transparent {
    background-position: -126px -92px;
    width: 15px;
    height: 19px;
}

.social-icon.facbook.transparent {
    background-position: -167px -93px;
    width: 10px;
    height: 19px;
}

.social-icon.dribbble.transparent {
    background-position: -202px -93px;
    width: 20px;
    height: 20px;
}

.social-icon.skype.transparent {
    background-position: -240px -93px;
    width: 20px;
    height: 20px;
}

.social-icon.digg.transparent {
    background-position: -276px -96px;
    width: 26px;
    height: 15px;
}

.social-icon.html5.transparent {
    background-position: -320px -90px;
    width: 17px;
    height: 23px;
}

.social-icon.linkedin.transparent {
    background-position: -360px -94px;
    width: 17px;
    height: 16px;
}

.social-icon.last_fm.transparent {
    background-position: -396px -96px;
    width: 20px;
    height: 13px;
}

.social-icon.vimeo.transparent {
    background-position: -436px -94px;
    width: 20px;
    height: 17px;
}

.social-icon.tumblr.transparent {
    background-position: -478px -93px;
    width: 13px;
    height: 19px;
}

.social-icon.apple.transparent {
    background-position: -515px -92px;
    width: 16px;
    height: 19px;
}

.social-icon.youtube.transparent {
    background-position: -553px -92px;
    width: 20px;
    height: 19px;
}

.social-icon.rss.transparent {
    background-position: -592px -92px;
    width: 18px;
    height: 18px;
}

.social-icon.deviantart.transparent {
    background-position: -628px -96px;
    width: 24px;
    height: 14px;
}

.social-icon.blogger.transparent {
    background-position: -671px -93px;
    width: 18px;
    height: 18px;
}

.social-icon.wordpress.transparent {
    background-position: -708px -91px;
    width: 20px;
    height: 20px;
}

.social-icon.amazon.transparent {
    background-position: -748px -93px;
    width: 20px;
    height: 19px;
}

.social-icon.paypal.transparent {
    background-position: -787px -93px;
    width: 19px;
    height: 19px;
}

.social-icon.dropbox.transparent {
    background-position: -825px -94px;
    width: 20px;
    height: 19px;
}

.social-icon.pinterest.transparent {
    background-position: -867px -92px;
    width: 16px;
    height: 20px;
}

.social-icon.android.transparent {
    background-position: -904px -89px;
    width: 21px;
    height: 23px;
}
